<h1>Mis Pokemones - <small><%= @user.name %> </small></h1>

<table class="table table-stripped table-condensed table-hover table-bordered">
<thead>
	<tr>
		<td>Nombre Pokemon</td>
		<td>Comentario</td>
		<td>Nivel</td>
		<td>Acciones</td>
	</tr>
</thead>

<tbody>
	<% @user.caughts.each do |p| %>
	<tr>
		<td><%= p.pokemon.name %></td>
		<td><%= p.pokemon.description %></td>
		<td><%= p.pokelevel == nil ? '0' : p.pokelevel %></td>	
		<td><%= link_to "Subir Nivel Pokemon", catched_raise_level_path(p.id) , class: "btn btn-info" %></td>
	</tr>
	<% end %>
</tbody>

</table>

