<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PokeDesk</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="<%= root_path %>">Home</a></li>
              <% if user_signed_in? %>
              <li> <a href="<%= caughts_path %>"> Mis Pokemones </a></li>
              <li> <a href="<%= destroy_user_session_path %>" data-method='delete'>
              Logout
              </a></li>
              <% else %>
              <li><a href="<%= new_user_session_path %>"> Login </a></li>
              <li><a href="<%= new_user_registration_path %>"> Register </a></li>
              <% end %>

              
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>